/* Collapsing Menu Color Pattern */

/* HSL */
$maastrichtblue: hsla(207%, 95%, 8%, 1);
$max-blue-green: hsla(174%, 62%, 47%, 1);
$lavender: 		 hsla(240%, 67%, 94%, 1);
$mustard: 		 hsla(40%, 100%, 67%, 1);
$raisinblack: 	 hsla(240%, 9%, 13%, 1);

/* Descriptions: */
// 1. maastricht blue: 	  very dark blue, nearly black
// 2. maximum blue-green: extremely bright teal
// 3. lavender: 		  HTML-defined lavender, light and misty
// 4. mustard: 			  mustard yellow w/ touch of cream
// 5. raisin black: 	  dark gray version of maastricht blue