* {
	box-sizing: border-box;
}

body {
	font-family: $futura;
}

main {
	padding: 3rem 4.167%;
	max-width: 1000px;
	margin: 0 auto;
	@media screen and (min-width: 450px) {
		padding: 3rem 8.33%;
	}	
}

// --- Headers --- //

h1, h2, h3, h4, h5, h6 {
	line-height: 1
}

h1 {
	font-size: 4rem; // total height: 6rem
	margin: 0;
	padding: .25em 0;
	line-height: 1;
}

h2 {
	font-size: 2.5rem; // total height: 3.75rem
	margin: 0;
	padding: .25em 0;
	line-height: 1;
}

h3 {
	font-size: 1.625rem; // total height: 2.5175rem
	margin: 0;
	padding: calc(.875rem / 2) 0;
	line-height: 1;
}

h4 {
	font-size: 1.25rem;
	margin: 0;
	padding: calc(.75rem / 2) 0;
	line-height: 1;
}

// --- Paragraphs --- //

p {

}

em {

}

strong {

}

// --- Lists --- //

ol {

}

ul {

}

li {

}

// --- Linked tags --- //

a {

}

img {

}

// --- Line break --- //

hr {

}

// --- Code: --- //

pre {
	font-family: $covik-mono;
}

code {
	font-family: $covik-mono;
}

/*

### Semantic Tags:

1. `<header></header>`
2. `<nav></nav>`
3. `<main></main>`
4. `<aside></aside>`
5. `<footer></footer>`
6. `<section></section>`
7. `<article></article>`
*/