/* Goes with collapsing-menu-practice.html */

.flex-menu-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	padding-left: 4.167%;
	background-color: lavender;
	z-index: 5;
}

.flex-menu {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

.flex-menu__home-wrapper {

}

// a containing svg
.flex-menu__home-link {
	display: flex;
	align-items: center;
	min-height: 40px;
	padding: 2px;
	border-bottom-width: 0;
	transition: border .2s padding .2s;
	&:hover {
		border: 1px solid white;
		
		svg path {
			padding: 1px;
			fill: white;
		}
	}
	svg {
		height: 40px;
		transition: fill .2s;
		path {
			fill: black;
		}
	}
}

.flex-menu__content-wrapper {
	position: relative;
//	left: 150px;
	display: flex;
	align-items: center;
	height: 100%;
	max-width: 75vw;
	text-align: center;
	@media screen and (min-width: 600px) {
		max-width: 50vw;
	}
}

.flex-menu__list-1 {
	position: relative;
	left: -150px;
	display: flex;
	padding-left: 0;
	width: calc(50vw - 150px);
}

.flex-menu__list-item--1 {
	padding-left: 2rem;
	white-space: nowrap;
	&::before {
		display: none;
	}
}

.flex-menu__link--1 {

}

.flex-menu__more-wrapper {
//	position: absolute;
	right: 0; // -4.1vw;
//	top: 0;
//	display: flex;
//	flex-flow: column nowrap;
}

.flex-menu__more-prompt {
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	width: 150px;
	padding: .5em .5em;
	font-weight: bold;
	text-align: center;
	background-color: white;
	border: 1px solid purple;
	cursor: pointer;
	z-index: 10;
}

.flex-menu__more-list {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	flex-flow: column nowrap;
	padding-left: 0;
}

.flex-menu__list-item--2 {
	&::before {
		display: none;
	}
}

.flex-menu__link--2 {

}

/* Classes for JS: */

.hidden--js {
	display: none;
}

.show-more-menu--js {
	display: block;
	opacity: 1;
}