/* SCSS for Collapsing Nav Menu: */

// ------------- Outer Elements ------------- //

// nav
.collapse-menu-wrapper {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	height: 60px;
	width: 100vw;
	background-color: lavender;
	padding: 0 2rem;
}

// ----------- List 1 ----------- //

// section 1
.collapse-menu__home-wrapper {
	display: flex;
	align-items: center;
}

// a
.collapse-menu__home-link {
	display: flex;
	align-items: center;
	min-height: 40px;
	padding: 2px;
	border-bottom-width: 0;
	transition: border .2s padding .2s;
	&:hover {
		border: 1px solid white;
		
		svg path {
			padding: 1px;
			fill: white;
		}
	}
	svg {
		height: 40px;
		transition: fill .2s;
		path {
			fill: black;
		}
	}
}

// section 1
.collapse-menu__lists-wrapper {
	display: flex;
	max-width: 75%;
	overflow-x: hidden;

}

// ul
.collapse-menu__list-1 {
	position: relative;
	display: flex;
	white-space: nowrap;
}

// li
.collapse-menu__list-item--1 {
	&::before {
		display: none;
	}
	padding-left: 2rem;
}

// a
.collapse-menu__link--1 {

}

// --------- More ----------- //

.collapse-menu__more--wrapper {
	display: flex;
	align-items: center;
}

.collapse-menu__more {
	padding-left: 2rem;
}

// ------------ List 2 ------------ //

// ul
.collapse-menu__list-2 {
	position: absolute;
	right: 0;
	top: 60px;
	padding: 0;
	white-space: nowrap;
}

// li
.collapse-menu__list-item--2 {
	&::before {
		display: none;
	}
}

// a
.collapse-menu__link--2 {

}

// ---------- Dummy Text ------------ //

.nav-menu--dummy-text {

}

// ----------------- JS CLASSES ---------------------- //

.collapse-menu--to-show {
	a {
		display: initial;
	}
}

.collapse-menu--to-hide {
	padding: 0;
	a {
		display: none;
	}
}

.test {
	a {
		color: red !important;	
	}
	
}

.test-2 {
	a {
		color: blue !important;
	}
}