// nav
.nav-menu-wrapper--top {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background-color: lavender;
}

// ul
.nav-menu__list--top {
	margin: 0;
	padding: 0 !important;
}

// li (repeated)
.nav-list__item--top {

}

// a (in li)
.nav-item__link--top {

}