---
---

/* Styles */

// Directories:
// 1. _syntax ---> syntax highlighting schemes
// 2. _vars -----> Sass variables for colors & font names
// 3. _nav ------> header, footer styles
// 4. _layouts --> most general styles, apply to >1 page
// 5. _includes -> modules for use on multiple pages
// 6. _pages ----> page-specific styles (docname = page name)

// Imports:
// - Purpose: 	   puts together all tiny files into big file
// - Syntax:  	   '_dir/_filename.scss' -> @import '_dir/filename'
// - Order:   	   least-to-most specific, so cascade flows properly

// syntax:
@import '_syntax/ir-black';

// vars:
@import '_vars/colors';
@import '_vars/fonts';
@import '_vars/collapse-menu';

// nav
@import '_pages/nav-menu--collapse';

// layouts:
@import '_layouts/basics-1';

// includes:
@import '_includes/nav-menu--top';

// pages:
@import '_pages/magic-kitties';
