---
title: Image Gallery
layout: no-style
permalink: /image-gallery/
---

<main class="image-gallery-wrapper">

<h1 class="image-gallery__page-title">Image Gallery</h1>

{% assign imgdata = site.data.unsplash-images | sort: 'category' %}

<article class="image-gallery-wrapper">



	<h3 class="gallery__section-title">1. Hands</h3>
	{% for image in imgdata %}
	{% assign path = 'assets/img/unsplash/' | append: image.title %}
	{% if image.category == 'hands' %}
	<section class="gallery__item">
		<h4 class="gallery-item__title">{{ image.title }}</h4>
		<img class="gallery-item__image"
			 src="{{ path | relative_url}}"
			 title="{{ image.title }}"
			 aria-label="{{ image.title }}" 
			 height="200" />
		<ul class="gallery-item__metadata">
			<li class="gallery-meta__category"><span>Category:</span> {{ image.category }}</li>
			<li class="gallery-meta__dimensions">
				<span>Dimensions:</span>
				<ul class="gallery-dimensions__wrapper">
					<li class="gallery-dimensions__height"><span>Height:</span> {{ image.height}}px</li>
					<li class="gallery-dimensions__width"><span>Width:</span> {{ image.width }}px</li>
				</ul>
			</li>
			<li class="gallery-meta__tags-wrapper">
				<span>Tags:</span>
			 	<ul class="gallery-meta-tags__list">{% for tag in image.tags %}
					<li class="gallery-meta-tags__tag">{{ tag }}</li>
					{% endfor %}
				</ul>
	 		</li>
		</ul> <!-- end metadata -->
	</section>
	{% endif %}
	{% endfor %}

	<hr />

	<!-- Abstract -->
	<h3 class="gallery__section-title">2. Abstract</h3>
	{% for image in imgdata %}
	{% assign path = 'assets/img/unsplash/' | append: image.title %}
	{% if image.category == 'abstract' %}
	<section class="gallery__item">
		<h4 class="gallery-item__title">{{ image.title }}</h4>
		<img class="gallery-item__image"
			 src="{{ path | relative_url}}"
			 title="{{ image.title }}"
			 aria-label="{{ image.title }}" 
			 height="200" />
		<ul class="gallery-item__metadata">
			<li class="gallery-meta__category"><span>Category:</span> {{ image.category }}</li>
			<li class="gallery-meta__dimensions">
				<span>Dimensions:</span>
				<ul class="gallery-dimensions__wrapper">
					<li class="gallery-dimensions__height"><span>Height:</span> {{ image.height}}px</li>
					<li class="gallery-dimensions__width"><span>Width:</span> {{ image.width }}px</li>
				</ul>
			</li>
			<li class="gallery-meta__tags-wrapper">
				<span>Tags:</span>
			 	<ul class="gallery-meta-tags__list">{% for tag in image.tags %}
					<li class="gallery-meta-tags__tag">{{ tag }}</li>
					{% endfor %}
				</ul>
	 		</li>
		</ul> <!-- end metadata -->
	</section>
	{% endif %}
	{% endfor %}
	<hr />

	<h3 class="gallery__section-title">3. Patterns</h3>
	{% for image in imgdata %}
	{% assign path = 'assets/img/unsplash/' | append: image.title %}
	{% if image.category == 'pattern' %}
	<section class="gallery__item">
		<h4 class="gallery-item__title">{{ image.title }}</h4>
		<img class="gallery-item__image"
			 src="{{ path | relative_url}}"
			 title="{{ image.title }}"
			 aria-label="{{ image.title }}" 
			 height="200" />
		<ul class="gallery-item__metadata">
			<li class="gallery-meta__category"><span>Category:</span> {{ image.category }}</li>
			<li class="gallery-meta__dimensions">
				<span>Dimensions:</span>
				<ul class="gallery-dimensions__wrapper">
					<li class="gallery-dimensions__height"><span>Height:</span> {{ image.height}}px</li>
					<li class="gallery-dimensions__width"><span>Width:</span> {{ image.width }}px</li>
				</ul>
			</li>
			<li class="gallery-meta__tags-wrapper">
				<span>Tags:</span>
			 	<ul class="gallery-meta-tags__list">{% for tag in image.tags %}
					<li class="gallery-meta-tags__tag">{{ tag }}</li>
					{% endfor %}
				</ul>
	 		</li>
		</ul> <!-- end metadata -->
	</section>
	{% endif %}
	{% endfor %}
	<hr />

	<h3 class="gallery__section-title">4. Leaves</h3>
	{% for image in imgdata %}
	{% assign path = 'assets/img/unsplash/' | append: image.title %}
	{% if image.category == 'leaves' %}
	<section class="gallery__item">
		<h4 class="gallery-item__title">{{ image.title }}</h4>
		<img class="gallery-item__image"
			 src="{{ path | relative_url}}"
			 title="{{ image.title }}"
			 aria-label="{{ image.title }}" 
			 height="200" />
		<ul class="gallery-item__metadata">
			<li class="gallery-meta__category"><span>Category:</span> {{ image.category }}</li>
			<li class="gallery-meta__dimensions">
				<span>Dimensions:</span>
				<ul class="gallery-dimensions__wrapper">
					<li class="gallery-dimensions__height"><span>Height:</span> {{ image.height}}px</li>
					<li class="gallery-dimensions__width"><span>Width:</span> {{ image.width }}px</li>
				</ul>
			</li>
			<li class="gallery-meta__tags-wrapper">
				<span>Tags:</span>
			 	<ul class="gallery-meta-tags__list">{% for tag in image.tags %}
					<li class="gallery-meta-tags__tag">{{ tag }}</li>
					{% endfor %}
				</ul>
	 		</li>
		</ul> <!-- end metadata -->
	</section>
	{% endif %}
	{% endfor %}
	<hr />

	<h3 class="gallery__section-title">5. Flowers</h3>
	{% for image in imgdata %}
	{% assign path = 'assets/img/unsplash/' | append: image.title %}
	{% if image.category == 'flowers' %}
	<section class="gallery__item">
		<h4 class="gallery-item__title">{{ image.title }}</h4>
		<img class="gallery-item__image"
			 src="{{ path | relative_url}}"
			 title="{{ image.title }}"
			 aria-label="{{ image.title }}" 
			 height="200" />
		<ul class="gallery-item__metadata">
			<li class="gallery-meta__category"><span>Category:</span> {{ image.category }}</li>
			<li class="gallery-meta__dimensions">
				<span>Dimensions:</span>
				<ul class="gallery-dimensions__wrapper">
					<li class="gallery-dimensions__height"><span>Height:</span> {{ image.height}}px</li>
					<li class="gallery-dimensions__width"><span>Width:</span> {{ image.width }}px</li>
				</ul>
			</li>
			<li class="gallery-meta__tags-wrapper">
				<span>Tags:</span>
			 	<ul class="gallery-meta-tags__list">{% for tag in image.tags %}
					<li class="gallery-meta-tags__tag">{{ tag }}</li>
					{% endfor %}
				</ul>
	 		</li>
		</ul> <!-- end metadata -->
	</section>
	{% endif %}
	{% endfor %}
	<hr />

	<h3 class="gallery__section-title">6. Portraits</h3>
	{% for image in imgdata %}
	{% assign path = 'assets/img/unsplash/' | append: image.title %}
	{% if image.category == 'portraits' %}
	<section class="gallery__item">
		<h4 class="gallery-item__title">{{ image.title }}</h4>
		<img class="gallery-item__image"
			 src="{{ path | relative_url}}"
			 title="{{ image.title }}"
			 aria-label="{{ image.title }}" 
			 height="200" />
		<ul class="gallery-item__metadata">
			<li class="gallery-meta__category"><span>Category:</span> {{ image.category }}</li>
			<li class="gallery-meta__dimensions">
				<span>Dimensions:</span>
				<ul class="gallery-dimensions__wrapper">
					<li class="gallery-dimensions__height"><span>Height:</span> {{ image.height}}px</li>
					<li class="gallery-dimensions__width"><span>Width:</span> {{ image.width }}px</li>
				</ul>
			</li>
			<li class="gallery-meta__tags-wrapper">
				<span>Tags:</span>
			 	<ul class="gallery-meta-tags__list">{% for tag in image.tags %}
					<li class="gallery-meta-tags__tag">{{ tag }}</li>
					{% endfor %}
				</ul>
	 		</li>
		</ul> <!-- end metadata -->
	</section>
	{% endif %}
	{% endfor %}
	<hr />

	<h3 class="gallery__section-title">7. Wood</h3>
	{% for image in imgdata %}
	{% assign path = 'assets/img/unsplash/' | append: image.title %}
	{% if image.category == 'wood' %}
	<section class="gallery__item">
		<h4 class="gallery-item__title">{{ image.title }}</h4>
		<img class="gallery-item__image"
			 src="{{ path | relative_url}}"
			 title="{{ image.title }}"
			 aria-label="{{ image.title }}" 
			 height="200" />
		<ul class="gallery-item__metadata">
			<li class="gallery-meta__category"><span>Category:</span> {{ image.category }}</li>
			<li class="gallery-meta__dimensions">
				<span>Dimensions:</span>
				<ul class="gallery-dimensions__wrapper">
					<li class="gallery-dimensions__height"><span>Height:</span> {{ image.height}}px</li>
					<li class="gallery-dimensions__width"><span>Width:</span> {{ image.width }}px</li>
				</ul>
			</li>
			<li class="gallery-meta__tags-wrapper">
				<span>Tags:</span>
			 	<ul class="gallery-meta-tags__list">{% for tag in image.tags %}
					<li class="gallery-meta-tags__tag">{{ tag }}</li>
					{% endfor %}
				</ul>
	 		</li>
		</ul> <!-- end metadata -->
	</section>
	{% endif %}
	{% endfor %}
	<hr />
</article>
</main>

<!--
Sample data:

categories:

- abstract
- pattern
- flowers
- leaves
- wood
- portraits
- hands
-->