---
title: Image Gallery
layout: no-style
permalink: /image-gallery/
---

<main class="image-gallery-wrapper">

<h1 class="image-gallery__page-title">Image Gallery</h1>

{% assign imgdata = site.data.unsplash-images | sort: 'category' %}

<ul class="image-gallery-wrapper">
	{% for image in imgdata %}
	{% assign path = 'assets/img/unsplash/' | append: image.title %}


	<li class="gallery__item">
		<h4>{{ image.title }}</h4>
		<img src="{{ path | relative_url}}" title="{{ image.title }}" aria-label="{{ image.title }}" height="200" />
		<ul>
			<li>Category: {{ image.category | capitalize}} </li>
			<li>Dimensions: {{ image.width }}px &times; {{ image.height}}px</li>
			<li><span>Tags:</span>
				<ul>{% for tag in image.tags %}
					<li>{{ tag }}</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	</li>
{% endfor %}
</ul>
</main>

<!--
Sample data:

categories:

- abstract
- pattern
- flowers
- leaves
- wood
- portraits
- hands
-->